.skillsH2{
    padding-top: 20px;
    padding-left: 20px;
}
.skillsContainer{
    padding-top: 25px;
    display: block;
    padding-left: 35px
}
.imagee{
    padding-top: 10px;
    padding-bottom: 10px;
}